doctype
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/css/common.css')
    link(rel='stylesheet', href='/css/main.css')

  body(ng-controller="FiltersController as ctrl")
    .container-fluid
      .filters
        form(role="form", ng-submit="ctrl.updateErrors()")
          .row
            .col-md-4.col-sm-8
              .form-group
                label Environment
                input.form-control.environment(name="environment", ng-model="ctrl.filters.environment")
            .col-md-4.col-sm-8
              .form-group
                label Category
                input.form-control.category(name="category", ng-model="ctrl.filters.category")

          .row
            .col-md-4.col-sm-8
              .form-group
                label Company Name
                input.form-control.company_name(name="company_name", ng-model="ctrl.filters.company_name")
            .col-md-4.col-sm-8
              .form-group
                label Account Name
                input.form-control.account_name(name="account_name", ng-model="ctrl.filters.account_name")
            .col-md-4.col-sm-8
              .form-group
                label Site
                input.form-control.site(name="site", placeholder="Site ID", ng-model="ctrl.filters.site")

          button.btn.btn-default.submit(type="submit") Submit
      
      .results
        table.table
          thead
            tr
              th Error ID
              th Company
              th Account
              th Site ID
              th User
              th Controller
              th Category
      
          tbody
            tr(ng-show="ctrl.noErrors")
              td(colspan=6) No Errors

            tr(ng-hide="ctrl.noErrors" ng-repeat="error in ctrl.errors")
              td(ng-bind="error.id")
              td(ng-bind="error.company_name")
              td(ng-bind="error.account_name")
              td(ng-bind="error.site_id")
              td(ng-bind="error.username")
              td {{error.controller}}\#{{error.action}}
              td(ng-bind="error.category")



    - if (environment === "development") {
      script(type="text/javascript", src='/js/require.js')

      script.
        require(['/js/requireConfig.js'], function (config) {
          try {
            require(['main']);
          } catch (e) {
            console.log(e);
          }
        });
    - } else {
        script(type="text/javascript", src='/js/common.js')
        script(type="text/javascript", src='/js/main.js')
    - }