<table class="table table-striped table-hover">
  <thead>
    <th colspan=2>
        <h2>
          Error #<%= @error.id %>
        </h2>
    </th>
  </thead>

  <tbody>
    <% @error.attributes.each do |attribute, value| %>
      <tr>
        <td><%= attribute %></td>
        <td><%= value %></td>
      </tr>
    <% end %>
  </tbody>
</table>
